<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Logo and Home Link -->
        <a class="navbar-brand me-4" href="@Url.Action("Index", "FrontPage")">
            <img src="@(Url.Content("~/images/BookLogo.png"))" alt="Bookverse Logo" style="height: 80px;">
        </a>

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mx-auto">
                <li class="nav me-1">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Books</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link text-white" asp-controller="FrontPage" asp-action="AboutUs"> About</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link text-white" asp-controller="FrontPage" asp-action="Shop"> Shop</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link text-white" asp-controller="FrontPage" asp-action="Contact">Contact</a>
                </li>
            </ul>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    @if (User.IsInRole(Roles.Admin.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/AdminOperations/Dashboard">Dashboard</a>
                        </li>
                    }
                </ul>

                <!-- User Authentication (Login/Logout) -->
                <div class="ms-auto">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>
</nav>
